.toggle-switch-label {
  display: block;
  margin-bottom: 0.0rem;
  font-weight: bold;
}


.toggle-switch-wrapper {
  display: flex;
  align-items: center;
  gap: 8px; /* Adjust spacing between toggle and label as needed */
}

.toggle-switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
}

.toggle-switch-checkbox {
  opacity: 0;
  width: 0;
  height: 0;
}

.toggle-switch-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 24px;
}

.toggle-switch-slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  border-radius: 50%;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
}

.toggle-switch-checkbox:checked + .toggle-switch-slider {
  background-color: #f36421;
}

.toggle-switch-checkbox:checked + .toggle-switch-slider:before {
  transform: translateX(16px);
}